@use '../abstracts/mixins' as *;
@use '../abstracts/media-query' as *;

#about-home {
    background: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),  
    url(../assets/images/back1.jpg);
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px; 

    h2{
        color: var(--clr-secondary-100);
        font-size: 2.2rem;
        letter-spacing: 1px;
    }
}

.about-container{
    display: flex;
    align-items: center;
    padding: 8vw 8vw 2vw 8vw;
    // gap: 1.5rem;

    .about-img{
        width: 60%;
        padding: 60px;

        img{
            width: 100%;

        }
    }

    .about-text {
        width: 40%;


        h2{
            color: var(--clr-primary-600);
        }

        p{
            color: var(--clr-secondary-700);
            font-weight: 300;
        }

        .about-fea{
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 20px;

            img{
                width: 50px;
                background-size: cover;
                background-position: center;
                
            }
            .fea-text{
                width: 90%;

                h5{
                    font-size: 1rem;
                    color: var(--clr-primary-600);
                }
            }
        }
    }
}


.trust{
    text-align: center;
    padding: 8vw;

    .trust-img { 
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;

        
        img{
            width: 140px;
            height: auto;
            padding: 2rem;
            @include card-shadow;
        }
    }
}

@include small-screen{
    .about-container{
        flex-direction: column;

        .about-img{
            width: 100%;
            padding: 1px;
        }

        .about-text{
            width: 100%;

            h2{
                padding: 1rem 0 1rem;
            }
        }
    }
}

@include medium-screen{
    .about-img{
        width: 70% !important;
        padding: 20px 40px 20px 20px !important;
    }
}